*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 111px;
    box-sizing: border-box;
    padding: 8px 56px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 239, 239);
    align-items: center;
    margin-bottom: 40px;
    position: fixed;
    background-color: white;
}

header img{
    width: 227px;
    height: 80px;
    cursor: pointer;
}

header ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

header ul li{
    cursor: pointer;
    transition: all 300ms ease;
}

header ul li:hover{
    color: #e0161d;
    transition: all 300ms ease;
}

#bannerSection{
    padding-top: 100px;
}

#bannerSection img{
    width: 100%;
}

#carteleraSection{
    padding-top: 70px;
    padding-bottom: 130px;
    width: 1030px;
    margin: auto;
}

#carteleraSection .filtrosDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#carteleraSection hr{
    margin-bottom: 15px;
}

#carteleraSection .filtrosDiv ul{
    max-width: 826px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: 0px;
}

#carteleraSection .filtrosDiv li{
    height: 45px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 8px 16px;
    color: white;
    background-color: #0e252e;
    list-style: none;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

#carteleraSection .ventas{
    border: 1px solid #0e252e !important;
    color: #0e252e !important;
    background-color: white !important;
}

#carteleraSection #selected{
    background-color: #e0161d;
}

#carteleraSection .filtrosDiv img{
    height: 18px;
    display: flex;
}

#carteleraSection .filtrosDiv div .icon{
    position: absolute;
    color: white;
    margin: 10px 10px;
}

#carteleraSection .filtrosDiv select{
    width: 190px;
    height: 36px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    color: white;
    background-color: #e0161d;
    cursor: pointer;
}





.cartasDiv {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: center;
    gap: 10px;
}

/* CART */
.cart{
    width: 210px;
    height: 315px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cart .img_Portada{
    width: 210px;
    height: 315px;
    overflow: hidden;
    position: absolute;
}

.cart .img_Portada img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.cart .info{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: all 300ms ease;
}

.cart .info:hover{
    opacity: 1;
    transition: all 300ms ease;
}


.cart .info h2{
    color: #e0161d;
    font-size: 17px;
    max-width: 100%;
}

.cart .info .clasificacionText{
    color: white;
    font-weight: bold;
}

.cart .info .clasificacion{
    color: yellow;
    font-weight: 500;
}

.cart .info .genero{
    color: rgb(212, 210, 210);
    font-weight: 500;
}

.cart .info .horarisBtn{
    width: 100%;
    height: 32px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid white;
    background-color: #e0161d;
    cursor: pointer;
}


.cart .info div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex: 1;
}

.cart .info div button{
    width: 80px;
    height: 30px;
    box-sizing: border-box;
    color: #e0161d;
    border: 1px solid #e0161d;
    background-color: black;
    cursor: pointer;
}

#carteleraSection #aviso{
    margin-top: 20px;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: rgb(207, 207, 207);
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}






/* INFO */

#sectionInfo {
    width: 998px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin: auto auto;
}

#sectionInfo #pasosDiv ul{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
    color: #e0161d;
    font-weight: bold;
    margin-bottom: 50px;
}

#sectionInfo #pasosDiv li{
    display: flex;
    gap: 10px;
    height: 70px;
    align-items: center;
    font-size: 18px;
}

#sectionInfo #pasosDiv span{
    width: 34px;
    height: 34px;
    border: 2px solid #e0161d;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    align-content: center;
}

#sectionInfo #pasosDiv .selected{
    border-bottom: 4px solid #e0161d;
}

#sectionInfo #pasosDiv .selected span{
    background-color: #e0161d;
    color: white;
}

#sectionInfo .volver{
    align-items: center;
    display: flex;
    gap: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #e0161d;
    color: #e0161d;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 2px;
    transition: all 300ms ease;
}   

#sectionInfo .volver:hover{
    background-color: #e0161d;
    color: white;
    transition: all 300ms ease;
}

#sectionInfo h2{
    font-size: 26px;
    margin: 0;
}

#sectionInfo hr {
    height: 2px;
    background-color: #e0e0e0;
    border: none; 
    width: 100%;  
    margin: 15px 0; 
}

#sectionInfo .content{
    display: flex;
    gap: 30px;
}

#sectionInfo .content .multimediaPelicula{
    min-width: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sectionInfo .content .multimediaPelicula img{
    width: 100%;
}

#sectionInfo .content .multimediaPelicula button{
    width: 100%;
    padding: 14px 0px;
    box-sizing: border-box;
    align-content: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    font-size: 15px;
}

#sectionInfo .content .infoPelicula{
    max-width: 100%;
}

#sectionInfo .content .infoPelicula .descripcion{
    font-size: 17px;
    letter-spacing: 0.6px;
    color: #bfbfbf;
}

#sectionInfo .content .infoPelicula ul{
    list-style: none;
    padding-left: 0px;
    font-weight: bold;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sectionInfo .content .infoPelicula ul span{
    font-weight: 400;
}


#sectionInfo .infoPelicula select{
    width: 240px;
    height: 34px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 80px;
}


#sectionInfo .infoPelicula .infoHoras{
    width: 100%;
    height: 50px;
    background-color: #027c87;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#sectionInfo .infoPelicula img{
    width: 70px;
    height: auto;
}

#sectionInfo .infoPelicula .infoHoras hr{
    width: 4px;
    height: 20px;
    background-color: #01565e;
}


#sectionInfo .infoPelicula .infoHoras .hora{
    padding: 4px 10px;
    box-sizing: border-box;
    font-size: 13px;
    color: white;
    background-color: #dc1c19;
    cursor: pointer;
}

