body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carta{
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


#fotoContainer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

#fotoContainer img{
    max-height: 80px;
}

#descripcion{
    width: 300px    ;
}